Package: esudo
Version: 1.3
Section: main
Priority: optional
Architecture: all
Depends: python-elementary, python-evas, python-ecore, python-pam
Maintainer: Anthony Cervantes
Description: eSudo (elementary sudo frontend)
 An Elementary GUI for sudo written in py-efls.
